.segmentation-model {
  background-color: #f5f7fa;
  padding: 10px 40px;
  height: 66.3vh;
}
.segmentation-model-line {
  height: 63vh;
  overflow-y: auto;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  padding: 5px 20px;
}
.segmentation-model h1 {
  margin: 5px 0px 0px 0px;
  font-size: 14px;
  font-weight: 600;
  color: red;
}
.segmentation-header {
  display: flex;
  margin-top: 12px;
  padding: 0px 25px;
  align-items: center;
  justify-content: space-between;
  height: 6.4vh;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
  background-color: #eaeaf8;
  cursor: pointer;
}
.segmentation-category-data {
  display: flex;
  align-items: center;
}
.segmentation-category-data-condition {
  margin: 10px;
  padding: 0px 15px 15px 15px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  height: 36vh;
  width: 40vw;
  overflow: auto;
}
.segmentation-category-data-condition-h6 {
  margin-top: 10px;
}
.segmentation-header h4 {
  font-size: 14px;
  font-weight: 500;
  font-family: Inter, sans-serif;
}
.segmentation-header span {
  font-size: 14px;
  font-weight: 500;
  font-family: Inter, sans-serif;
}
.segmentation-category-box {
  padding: 14px 20px 0px 20px;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
.segmentation-category-box h6 {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 8px;
}
.segmentation-category-addToList {
  border: 1px solid rgb(185, 184, 184);
  border-radius: 8px;
  padding: 2px 5px 8px 8px;
  /* background-color: #646363; */
  margin-right: 8px;
}
.segmentation-category-addToList h5 {
  font-size: 15px;
  font-weight: 600;
  /* color: rgb(255, 255, 255); */
  color: rgb(70, 70, 248);
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 5px;
  margin-right: 5px;
}
.segmentation-category-add {
  margin-top: 8px;
  text-align: center;
}
.segmentation-regimen-box {
  /* margin-top: 10px; */
  padding: 8px 15px 0px 15px;
  border: 1px solid #e1e1e1;
  height: 36vh;
  width: 40vw;
  border-radius: 4px;
  overflow: auto;
  cursor: pointer;
}
.segmentation-regimen-textbox {
  display: flex;
  background-color: white;
  border-radius: 8px;
  padding: 8px 0px 8px 20px;
  align-items: center;
  margin: 8px 2px 0 4px;
  justify-content: space-between;
}

.segmentation-regimen-box h3 {
  margin: 4px 0px;
  font-size: 13px;
  font-weight: 400;
  width: 33vw;
  word-wrap: break-word;
}
.segmentation-regimen-box h2 {
  margin-top: 22%;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.regimen-and-condition {
  align-items: center;
  text-align: center;
}
.segmentation-progression-rules-textbox-box {
  display: flex;
  justify-content: space-evenly;
}
.segmentation-rules-divider {
  margin: 10px 0px;
  width: 92.5vw;
  border: 1px solid #bdbcbc;
}
.segmentation-new-rules-box {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  width: 91vw;
  height: 27vh;
  padding: 10px;
  overflow-y: auto;
  margin-top: 10px;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}
.segmentation-new-rules-textbox {
  display: flex;
  background-color: white;
  border-radius: 8px;
  padding: 10px 0px 10px 20px;
  align-items: center;
  margin: 0px 4px 8px 0px;
  justify-content: space-between;
  cursor: pointer;
}

.segmentation-new-rules-box h4 {
  font-size: 14px;
  font-weight: 500;
  font-family: Inter, sans-serif;
}
.segmentation-new-rules-box h2 {
  margin-top: 5%;
  font-size: 14px;
  font-weight: 500;
  font-family: Inter, sans-serif;
  text-align: center;
}
.segmentation-progression-rules-model h5 {
  margin-top: 8px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(70, 70, 248);
  text-decoration: underline;
  text-underline-offset: 5px;
  cursor: pointer;
}
/* Segmentation.css */

/* General styles for Segmentation component */
.segmentation-container {
  margin: 20px;
}

.type-fields {
  width: 38vw;
  background-color: #f2f2f2;
  margin-top: 10px;
}

.type-fields .MuiOutlinedInput-root {
  border-radius: 4px;
}

.type-fields .MuiOutlinedInput-root fieldset {
  border: 1px solid #d8d8d8;
}

.type-fields:hover .MuiOutlinedInput-root fieldset {
  border: 1px solid #d8d8d8;
}

.condition-text-fields {
  width: 7vw;
  background-color: #f2f2f2;
  margin-top: 10px;
}

.condition-text-fields .MuiOutlinedInput-root {
  border-radius: 4px;
}

.condition-text-fields .MuiOutlinedInput-root fieldset {
  border: 1px solid #d8d8d8;
}

.condition-text-fields:hover .MuiOutlinedInput-root fieldset {
  border: 1px solid #d8d8d8;
}

.rules-type-fields {
  width: 40vw;
  background-color: #f2f2f2;
  margin-top: 8px;
}

.rules-type-fields .MuiOutlinedInput-root {
  border-radius: 4px;
  height: 6.5vh;
}

.rules-type-fields .MuiOutlinedInput-root fieldset {
  border: 1px solid #d8d8d8;
}

.rules-type-fields:hover .MuiOutlinedInput-root fieldset {
  border: 1px solid #d8d8d8;
}

.checkbox {
  padding: 0;
  margin-top: 5px;
}

.segmentation-category-timeframe-lot {
  display: flex;
  justify-content: flex-start;
}
