/* Side Panel Styles */
.sp-panel {
  position: fixed;
  top: 140;
  right: -17.5%; /* Hidden by default */
  width: 17.5%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1001;
  overflow-y: auto;
}
.sp-search label {
  display: block;
  margin-bottom: 4px;
  font-weight: 500;
}

.sp-panel.open {
  right: 0; /* Slide in when open */
}

/* Backdrop Styles */
.sp-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Covers the entire screen */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 1000;
}

.sp-backdrop.visible {
  opacity: 1;
  visibility: visible;
}

/* Toggle Button Styles */
.sp-toggle {
  position: fixed;
  top: 220px;
  right: 0; /* Align with the panel */
  z-index: 1002;
  background-color: #ebf2ff;
  font-weight: 500;
  color: #001a50;
  border: none;
  width: 35px; /* Make it rectangular */
  height: 110px;
  border-right: 3px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, right 0.3s ease-in-out;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  white-space: nowrap;
}

.sp-toggle.open {
  right: 17.5%; /* Move with the panel when open */
  background-color: #ffffff;
  border: none;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.2);
}
.sp-toggle.flow-open {
  right: 17.5%;
}

.sp-toggle:hover {
  background-color: #ccc;
}

/* Search Box Styles */
.sp-search {
  padding: 10px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
}

.sp-search input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.add-query-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.add-query-box img {
  cursor: pointer;
}