.sfc-toggle {
  position: fixed;
  top: 380px;
  right: 0; /* Align with the panel */
  z-index: 1002;
  background-color: #ebf2ff;
  font-weight: 500;
  color: #001a50;
  border: none;
  width: 35px; /* Make it rectangular */
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 3px solid lightgray;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, right 0.3s ease-in-out;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  white-space: nowrap;
}

.sfc-toggle.open {
  right: 17.5%;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.2);
}
.sfc-toggle.custom-filter-open {
  right: 17.5%;
}

.sfc-panel {
  position: fixed;
  top: 140;
  right: -17.5%; /* Hidden by default */
  width: 17.5%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1001;
  overflow-y: auto;
}

.sfc-panel.open {
  right: 0; /* Slide in when open */
}