/* General Styles for Popup */
.dialogPaper {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: auto;
  max-width: 120vw;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.MuiDialog-paper {
  max-width: 800px !important;
}

/* Title Section */
.dialogTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e3f2fd;
  padding: 4px 10px !important;
}

.closeIcon {
  color: #002060 !important;
  font-size: 20px;
  cursor: pointer;
}

/* Content Section */
.dialogContent {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
}

/* Dropdown and Input Styling */
.selectFields {
  margin-top: 10px;
  width: 25vw;
  background: #f2f2f2;
  & .MuiOutlinedInput-root {
    border-radius: 4px;
    height: 6.5vh;
    & fieldset {
      border: 1px solid #d8d8d8;
    }
  }
  &:hover {
    & .MuiOutlinedInput-root {
      & fieldset {
        border: 1px solid #d8d8d8;
      }
    }
  }
}

.inputLabel {
  margin-top: 10px;
}

.flexRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px; /* Add spacing between the two fields */
}

/* Apply Button Styling */
.applyButton {
  align-self: flex-end;
  margin-top: 24px;
  background-color: #002060;
  width: 100px;
  height: 6.2vh;
  font-size: 12px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
}

.applyButton:hover {
  background-color: #002060;
}

/* Backdrop Styling */
.backdrop {
  z-index: 10;
}

.circularProgress {
  color: white;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  .dialogPaper {
    max-width: 120vw;
    padding: 8px;
  }

  .dialogTitle {
    padding: 6px 10px;
    font-size: 14px;
  }

  .closeIcon {
    font-size: 18px;
  }

  .dialogContent {
    padding: 10px;
  }

  .selectFields {
    padding: 4px;
    height: 28px;
  }

  .applyButton {
    font-size: 12px;
    padding: 6px 10px;
  }
}
