.add-rule-dialog-model {
  padding: 20px 30px;
}
.regimen-category-box {
  border: 1px dashed #e1e1e1;
  border-radius: 4px;
  padding: 0px 20px 15px 20px;
  margin-bottom: 10px;
}
.lot-decision-add-new-rules{
    margin-left: 38px;
}
.time-frame-box{
    margin: 0px 20px;
}