.sidebar-model-adhocs {
    position: absolute;
    top: 0px;
    width: 16vw;
    height: 100vh;
    background: white;
    padding-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
  }
  
  .Accordian-allignment {
    margin-top: 30px;
    margin-left: 10%;
    width: 82%;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .sidebar-model-adhocs .accordianSummery {
    padding-left: 0;
    padding-right: 0;
  }
  
  .contain{
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .item{
    padding: 10px;
    background-color: red;
    cursor: pointer;
  }
  
  .column{
    width: 30px;
    padding: 10px;
    border : 2px solid rgb(215, 215, 230);
    min-height: 200px;
  }