

.indication-model2{
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    height: 12vh;
    min-height: 40px;
    padding-top: 10px;
    margin-left: 260px;
    margin-top: 10px;
    margin-right: 35px;
    /* width:100vw */
    display: flex;
    flex-direction: row !important;
   background-color: #f5f7fa;


  }
  .indication-box2{
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    margin: 10px 40px;
    padding: 20px 20px;
  }


  .add-dialog-model {
    padding: 20px 30px;
  }
  .add-dialog-box {
    display: inline-flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    height: 44vh;
    width: 31.6vw;
    overflow: auto;
    padding: 10px;
  }
  .added-text-box {
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 0 4px;
    margin-right: 4px;
    margin-bottom: 4px;
  }
  