.smartAlert-analytics-sidebar-box {
  position: absolute;
  top: 0px;
  width: 16vw;
  height: 100vh;
  background: white;
  padding-top: 100px;
  padding-left: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media (max-width: 1200px) {
  .smartAlert-analytics-sidebar-box   {
    background-color: transparent; 
    box-shadow: none; 
    display: none;
  }
}

.smartAlert-analytics-sidebar-inner-box {
  cursor: pointer;
  margin-bottom: 16px !important;
}
.smartAlert-analytics-sideLine {
  background-color: #e8e8e8;
  height: 35px;
  width: 3px;
}
.smartAlert-analytics-active-sideLine {
  background-color: #002060;
  height: 35px;
  width: 3px;
}
.smartAlert-DI-sidebar-inner-box {
  margin-top: 16px;
  height: 86%;
  overflow-y: auto;
}
